# Rules for variable names
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

In [4]:
snake_case ="Python best practice"

# Variable scope

## LEGB

L: Local — Names assigned in any way within a function (def or lambda), and not declared global in that function.

E: Enclosing function locals — Names in the local scope of any and all enclosing functions (def or lambda), from inner to outer.

G: Global (module) — Names assigned at the top-level of a module file, or declared global in a def within the file.

B: Built-in (Python) — Names preassigned in the built-in names module : open, range, zip, str

# Operators
## Comparison operators
Comparison operators are used to compare two values: <br>
`==` `!=` `>` `<` `>=` `<=`

## Logical operators
Logical operators are used to combine conditional statements: <br>
`and` `or` `not`


## Identity operators   
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location: <br>
`is` `is not`

## Membership operators
Membership operators are used to test if a sequence is presented in an object: <br>
`in` `not in`

## Chained operators
`and`, `ord`

In [ ]:
"a" in "abcd" and 7 == 9

In [ ]:
11 <= 11 <= 33

## Arithmetic Operators
`+` `-` `*` `/` `%` `**` `//`

In [5]:
# Div
3/2

1.5

In [6]:
# Floor div
7//4

1

In [7]:
# Modulo
9%4

1

## Assignment Operators
`+=` `-=` `*=` `/=` `%=` `//=` 

x += 1 is the same as x = x + 1

# Loops and conditional logic
## If, Elif, Else statements

In [ ]:
x = int(input("Ange tal "))
if x == 10:
    print("x is ten")
elif x < 10:
    print("x is less than ten")
else:
    print("x is more than ten")

0 and empty iterables evaluate to `False`

In [ ]:
bool(set())

## For loops

In [ ]:
for num in range(1,11):
    if num%2 == 0:
        print(f"Number is even: {num}")

When looping over a list of tuples it is possible to unpack each tuple directly in the loop header

In [ ]:
for lon,lat in [(1,11),(2,22),(3,33)]:
    print(lat)

Usefull methods when looping over dictionares: `.item()`, `.values()`, `.keys()`

In [ ]:
di = {"A":1,"B":2,"C":3}
for key in di:
    print(f"{key}: {di[key]}")

In [ ]:
for i,v in di.items():
    print(f"{i}: {v}")

## While loops

In [ ]:
x = 0
while x < 10:
    print(f"{x} is currently less than 10")
    x += 1
else:
    print("All done!")

## `enumerate` function
Usefull when we need to keep track on indices when looping over a sequence

In [ ]:
lst = "A B C D".split()

In [ ]:
for i,c in enumerate(lst):
    print(f"{c} is at index position {i} in the list")

In [ ]:
dct = dict(enumerate(lst))

## break, continue, pass

We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.
    
    
Thinking about <code>break</code> and <code>continue</code> statements, the general format of the <code>while</code> loop looks like this:

    while test: 
        code statement
        if test: 
            break
        if test: 
            continue 
    else:

<code>break</code> and <code>continue</code> statements can appear anywhere inside the loop's body, but we will usually put them further nested in conjunction with an <code>if</code> statement to perform an action based on some condition.

<img src="https://i.stack.imgur.com/Btr3L.png" width="200" height="100">

# List comprehensions
The main point of list comprehensions is efficient code
It is a combination of looping and creating lists

In [47]:
my_list = ["seven", "seasick", "seamen", "on", "a", "ship", "to", "shanghai"]
new_lst = [i for i in my_list if len(i)>5]
print(new_lst)

['seasick', 'seamen', 'shanghai']

In [48]:
34 if len(my_list)>2 else 7

34

In [50]:
matrix = [[1,2,3], [4,5,6], [7,8,9]]
lst = [j for i in matrix for j in i]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Data structures
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string). Immutable, they cannot be updated
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [ ]:
type({"A":1,"B":2})

## Lists
List items are ordered, changeable, and allow duplicate values. 

List items are indexed, the first item has index [0]

<font color=red>To make a copy of a list use either copy() or list().</font> Typing list2 = list1 will create list2 as a reference to list1, and changes made in list1 will automatically also be made in list2.

### Basic methods
`append()`, `reverse()`, `sort()`, `copy()`

In [29]:
nums  = [0.3,0.23,32,43,9,6]
nums.sort(reverse=True)
print(nums)

[43, 32, 9, 6, 0.3, 0.23]

### Nesting lists

In [30]:
lst_1 = [11,12,13]
lst_2 = [21,22,23]
matrix = [lst_1,lst_2]

## Dictionaries
Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

<font color=red>To make a copy of a dictionary use either copy() or dict().</font> <br>

In [40]:
my_dict = {"key1":34,"key2":4}

In [42]:
my_dict["key3"] = "red"

### Basic methods
`.item()`, `.values()`, `.keys()`

In [46]:
my_dict["key1"]

34

In [43]:
my_dict.get("key3")

'red'

### Nesting dictionaries

In [36]:
store = {"t-shirt":{"price":230,"stock":56},"trousers":{"price":1090,"stock":12}}

## Tuples
A tuple is a collection which is ordered and unchangeable.

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0]

In [44]:
test = ("Henrik", "Andersson", 1983, "Stockholm")
(fnamn,enamn,ar,stad) = test

In [45]:
fnamn, enamn

('Henrik', 'Andersson')

## Set
Set items are unordered, unchangeable, and do not allow duplicate values.

In [ ]:
st = set()
st.add(1)
st.add(2)

In [ ]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s1 == s2

In [ ]:
# Adding sets together
s1 | s2

In [ ]:
# Overlapping values in set1 and set2
s1&s2

In [ ]:
# Values unique to set 2
s2-s1

print(range(3))

## Strings

### String methods
Usefull string methods: <br>
`.split()`, `.startswith()`, `.upper()`, `.lower()`, `.capitalize()`, `title()`, `count()`, `replace()`, `isnumeric()`

Usefull methods to create strings: <br>
`join()`

In [15]:
" ".join("1 2 3 4".split())

'1 2 3 4'

### Escaping characters in strings

### Concatenating strings

In [16]:
# + operator, fastest
"En rad" + ", en annan rad" # f-strings	Most readable

'En rad, en annan rad'

In [17]:
# f-strings, most readable
x = 12
f"Antal fönster i lgh: {x}"

'Antal fönster i lgh: 12'

In [23]:
# * operator, best to repeat lists
word = "hello_"
print(word * 3)

hello_hello_hello_

In [26]:
# %s operator, backward compatible
"Jag {} att lönen är {}!".format("tror", 1923)

'Jag tror att lönen är 1923!'

In [24]:
# Concatenating strings with .join()
words = ['ord', 'strand', 'bensin']
print(" ".join(words))

ord strand bensin

### RegEx
See separate ReEx guide

# Functions

## `*args` and `**kvargs`

In [54]:
 # Default parameter value
def myfunc(a,b,c=0):
    return sum((a,b,c)) * 0.06

In [65]:
# Args let us pass a tuple of arbitary length as input. Usefull when the numer of input variables is unknown
def myfunc(*args):
    return args

In [66]:
myfunc(12,2,3,4,66)

<class 'tuple'>

(12, 2, 3, 4, 66)

In [68]:
# Kwargs let us imput arbitrary number of keywords arguments and will treat kwargs like a dictionary
def myfunc(**kwargs):
    if "language" in kwargs:
        print(f"My language of choice is {kwargs['language']}")
    else:
        print("I dont code")

In [69]:
myfunc(language="Python",test="Nej")

My language of choice is Python

## User input
`input()`

In [53]:
def anvin():
    guess = ""
    while guess not in ["1","2","3"]:
        guess = input("Guess which cup (1,2 or 3) that contain the ball: ")
    return int(guess)-1

## Lambda function

In [1]:
add2 = lambda a,b: a+b
add2(3,5)

8

## Usefull built in functions
`map()`, `filter()`, `reduce()`, `zip()`, `enumerate()`

`range()`, `filter()`, `count()`, `type()`, `print()`, `input()`, `len()`

### `map()` function
A standrad function that accepts at least two arguments: a function and an iterable

In [13]:
list(map(lambda c: (9/5)*c + 32, [0, 22.5, 12, 30]))

[32.0, 72.5, 53.6, 86.0]

In [14]:
aa={"A":1,"B":2,"C":3}
list(map(lambda x,y: f"{x}: {y}",aa.keys(),aa.values()))

['A: 1', 'B: 2', 'C: 3']

### `filter` function
A standard function that takes at least two arguments: a function and an interable

Will only return values that evaluate to True

In [9]:
list(filter(lambda u: u>20,[1,22,3,5,7,99,102,34]))

[22, 99, 102, 34]

### `reduce` function
Not a standard function, it has to be imported. Takes two arguments; function + iterable
Dosen't return an iterable

In [11]:
from functools import reduce

In [15]:
reduce(lambda x, y: x*y, [1,2,3,4,5])

120

### `zip` function

In [16]:
nums = [1,2,3,4,5]
words = "one two three four five".split()
list(zip(nums,words))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')]

`zip` function can be used ti unzip a list of tuples using the `*` keyword

In [17]:
stock_prices = [("STAB",234),("SEB",97),("KINV",163),("ASSA",247)]
list(zip(*stock_prices))

[('STAB', 'SEB', 'KINV', 'ASSA'), (234, 97, 163, 247)]

### `enumerate` function
Usefull when we need to keep track on indices when looping over a sequence

In [18]:
lst = "Sweden Norway Denmark Finladn Iceland".split()
for i,c in enumerate(lst):
    print(f"{c} is at index position {i} in the list")

Sweden is at index position 0 in the list
Norway is at index position 1 in the list
Denmark is at index position 2 in the list
Finladn is at index position 3 in the list
Iceland is at index position 4 in the list

# Test av kod

In [ ]:
solution(4)

In [ ]:
def solution2(number):
    if number>0:
        ut = [i for i in range(1,number) if i%3==0 or i%5==0]
    else:
        ut = 0
    return ut

In [ ]:
solution2(4)

In [ ]:
import math

In [ ]:
def henr(p0, percent, aug, ar):
    return aug*ar+p0*(1+percent/100)**ar

def henr2(p0, percent, aug, ar):
    for i in range(1,ar+1):
        p0 = math.floor(aug+p0*(1+percent/100))
    return p0

In [ ]:
print(henr(1500, 5, 100, 15))
print(henr2(1500, 5, 100, 15))

In [ ]:
def nb_year(p0, percent, aug, p):
    y = 0
    while p0 < p:
        y += 1
        p0 = math.floor(aug+p0*(1+percent/100))
    return y

In [ ]:
print(nb_year(1500, 5, 100, 5000))

In [ ]:
print(nb_year(1500000, 2.5, 10000, 2000000))

In [ ]:
import regex as re
def longest(a, b):
    aa = set(a+b)
    print(aa)
    pattern=r"[a-z]"
    print(re.findall(pattern,a+b))

In [ ]:
a = "xyaabbbccccdefww"
b = "xxxxyyyyabklmopq"
longest(a, b)
#"abcdefklmopqwxy"

In [ ]:
"".join(sorted(set(re.findall(r"[a-z]",a+b))))

In [ ]:
"".join(sorted(set(a+b)&set("abcdefghijklmnopqrstuvxyz")))

In [ ]:
a1="fijklmnopqrtuvyz"
a2=""
"".join(sorted(set(a1+a2)&set("abcdefghijklmnopqrstuvWxyz")))

In [ ]:
def square_digits(num):
    return int("".join([str(int(i)**2) for i in str(num)]))

In [ ]:
square_digits(9119)

In [ ]:
def spin_words(sentence):
    return " ".join([i if len(i)<5 else i[::-1] for i in sentence.split(" ")])

In [ ]:
spin_words( "This is a test")

In [ ]:
def digital_root(n):
    ut = sum([int(i) for i in str(n)])
    return ut if ut<10 else digital_root(ut)

In [ ]:
digital_root(493193)

In [ ]:
def valid_braces(string):
    a = len(string)+2
    while len(string) < a:
        a = len(string)
        for i in ["()","[]","{}"]:
            string = string.replace(i,"")
    return True if a == 0 else False

In [ ]:
valid_braces("([{}])")

In [2]:
def amount_of_pages(summary):
    a, p = "", 0
    while len(a) < summary:
        p += 1
        a += str(p)
    return p

In [3]:
print(amount_of_pages(660))

256

In [13]:
def find_nb(m,n=1,dn=0):
    while dn<m:
        dn += n**3
        if dn == m:
            return n
        n += 1
    return -1

In [26]:
a = [-10, -9, -8, -6, -3, -2, -1, 0, 1, 3, 4, 5, 7, 8, 9, 10, 11, 14, 15, 17, 18, 19, 20]

In [77]:
def solution(args):
    s,e,ut = 0,-1, []
    for i,v in enumerate(args):
        if v>args[s]+i-s:
            e = i-1
        elif i==len(args)-1:
            e = i
        if s <= e:
            if e-s == 0:
                ut.append(args[s])
            elif e-s == 1:
                ut += [args[s],args[e]]
            elif e-s>1:
                ut.append(f"{args[s]}-{args[e]}")
            s, e = i, i-1
    return ut

In [82]:
import itertools

In [145]:
def solution(args):
    ut = []
    for k, g in itertools.groupby(enumerate(args),lambda t: t[1] - t[0]):
        a = list(g)
        st, end = a[0][1], a[-1][1]
        if end-st == 0:
            ut.append(str(st))
        elif end-st == 1:
            ut += [str(st),str(end)]
        else:
            ut.append(f"{st}-{end}")
    return ",".join(ut)

In [152]:
a=8
b=6

max(i for i in range(1,max(a,b)) if a%i == 0 and b%i == 0)

2

In [ ]:
def lcm(*args):
    
    
    
  """Compute the least common multiple of some non-negative integers"""

In [ ]:
dct = {i:encrypted_text.count(i) for i in set(encrypted_text)}

In [ ]:
import operator

dct = dict(sorted(dct.items(),key = operator.itemgetter(1), reverse = True))